<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>登入頁面 - 鑫沅淨水</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row justify-content-center">
                            <!-- <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/dogs/image3.jpeg&quot;);"></div>
                            </div> -->
                            <div class="col-md-9 col">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">歡迎回來</h4>
                                    </div>
                                    <form class="user" action="/" method="post">
                                        <div class="mb-3"><input class="form-control form-control-user" type="text" id="username" name="username" aria-describedby="emailHelp" placeholder="請輸入帳號"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="password" name="password" placeholder="密碼"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="rememberme" name="rememberme" value="0"><label class="form-check-label custom-control-label" for="formCheck-1">保持登入</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit">登入</button>
                                        <!-- <hr> -->
                                    </form>
                                    <!-- <div class="text-center"><a class="small" href="forgot-password.html">忘記密碼?</a></div>
                                    <div class="text-center"></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>